<h3>Daftar Nilai</h3>
<table class="table">
    <thead>
        <tr>
            <th>Mata Kuliah</th>
            <th>SKS</th>
            <th>Nilai</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>DASAR PEMROGRAMAN</td>
            <td>3</td>
            <td>A</td>
        </tr>
        <tr>
            <td>ETIKA PENGEMBANGAN TEKNOLOGI SIBER</td>
            <td>2</td>
            <td>B+</td>
        </tr>
        <tr>
            <td>KONSEP DAN FONDASI SISTEM INFORMASI</td>
            <td>3</td>
            <td>A-</td>
        </tr>
	    <tr>
            <td>SISTEM OPERASI</td>
            <td>2</td>
            <td>A</td>
        </tr>
	    <tr>
            <td>ALJABAR LINIER</td>
            <td>2</td>
            <td>A</td>
        </tr>
	    <tr>
            <td>MATEMATIKA DISKRIT</td>
            <td>2</td>
            <td>AB</td>
        </tr>
	    <tr>
            <td>KALKULUS</td>
            <td>2</td>
            <td>AB</td>
        </tr>
	    <tr>
            <td>BAHASA INGGRIS</td>
            <td>2</td>
            <td>A</td>
        </tr>
    </tbody>
</table>