<h3>Kartu Rencana Studi (KRS)</h3>
<table class="table">
    <thead>
        <tr>
            <th>Kode</th>
            <th>Mata Kuliah</th>
            <th>SKS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CS101</td>
            <td>Pemrograman Dasar</td>
            <td>3</td>
        </tr>
        <tr>
            <td>CS102</td>
            <td>Struktur Data</td>
            <td>3</td>
        </tr>
        <tr>
            <td>CS103</td>
            <td>Algoritma</td>
            <td>4</td>
        </tr>
    </tbody>
</table>